<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Product List</title>
  </head>
  <body>
    <br/>
    <h2 style="text-align: center;">Search Result</h2>
    <h3 style="text-align: center;"
      th:if="${#lists.isEmpty(products)}">No Results.</h3>
    <table th:if="${not #lists.isEmpty(products)}" style="width:50%;
      margin-left: auto; margin-right: auto;">
      <tr>
        <th>Id</th>
        Workshop Instructions – Spring MVC
        © NUS All Rights Reserved Page 23 of 30
        <th>Name</th>
        <th>Category</th>
        <th>Description</th>
      </tr>
      <tr th:each="product:${products}">
        <td th:text="${product.id}">Id</td>
        <td><a th:text="${product.name}">Name</a></td>
        <td th:text="${product.category}">Category</td>
        <td th:text="${product.description}">Description</td>
      </tr>
    </table>
  </body>
</html>
